{% extends 'base.html.twig' %}

{% block title %}Wanted{% endblock %}

{% block body %}
    <div class="top-nav">
        <a href="{{ path('app_register') }}" class="menu">Inscription</a>
        <a href="{{ path('app_login') }}" class="menu">Connexion</a>
    </div>

    <main class="content">
        <div>
            <h1 class="title">Wanted</h1>
        </div>

        <div>
            <button class="btn">Jouer</button>
            <button class="btn">Blog</button>
            <button class="btn">Score</button>
        </div>
    </main>

{% endblock %}
