{% extends 'base.html.twig' %}

{% block title %}Wanted{% endblock %}

{% block body %}
    <div>
        <button class="menu">Inscription</button>
        <button class="menu">Connexion</button>
    </div>

    <main>
        <div>
            <h1 class="title">Wanted</h1>
        </div>

        <div>
            <button class="btn">Jouer</button>
            <button class="btn">Blog</button>
            <button class="btn">Score</button>
        </div>
    </main>

    <footer>
        
    </footer>
{% endblock %}
