{% extends 'base.html.twig' %}

{% block title %}Wanted Game{% endblock %}

{% block body %}

<div id="chaussettes" 
     data-image="{{ asset('img/chaussette.png') }}"
     data-special="{{ asset('img/chaussette-bleu.png') }}"
     data-hover="{{ asset('img/chaussette-bleu-select.png') }}"
     data-hover-fausse="{{ asset('img/chaussette-paire-1.png') }}">
</div>

{% endblock %}

