/* Reset et hauteur pleine */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Fond de la page */
body {
    position: relative;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.5)),
        url('../img/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Barre de menu en haut */
.top-nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Polices */
@font-face {
    font-family: "Baby Gemoy";
    src: url('../font/baby-gemoy/Baby_Gemoy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Moldie";
    src: url('../font/moldie-demo/Moldie_Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

main { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.content {
    display: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

/* Titre */
.title {
    font-size: 150px;
    font-family: "Baby Gemoy", serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow:
        2px 2px 0 #ff8383,
       -2px 2px 0 #ff8383,
        2px -2px 0 #ff8383, 
       -2px -2px 0 #ff8383,
       2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

/* Boutons principaux */
.btn {
    display: inline-block;
    padding: 10px 28px;
    margin: 0 20px;
    font-size: 40px;
    border-radius: 25px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(109, 109, 109, 0.679);
    text-decoration: none;
    font-family: "Moldie", serif;
    background: #ffffff;
    color: #ff8b8b;
}

.menu {
    display: inline-block;
    padding: 10px 28px;
    margin: 0 20px;
    font-size: 25px;
    border-radius: 25px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(109, 109, 109, 0.679);
    text-decoration: none;
    font-family: "Moldie", serif;
    background: #ffffff;
    color: #91e1fe;
}

.img-nonclick {
    display: block;
    width: 150px;
    height: 150px;
}

.img-link, .img-change {
  display: block;
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
}

.img-link:hover {
  content: url('../img/chaussette-paire-1.png');
}

.img-change:hover {
  content: url('../img/chaussette-paire-2.png');
}

#chaussettes {
  position: relative;
  width: 800px;
  height: 600px;
  border: 1px solid #ccc; /* juste pour visualiser le conteneur */
  overflow: hidden;
}

#chaussettes img {
  position: absolute;
  transition: transform 0.3s;
}