{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Ajouter un score</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.time) }}
        <button class="btn">Ajouter</button>
    {{ form_end(form) }}


</div>
{% endblock %}
