<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Wanted{% endblock %}</title>

        <link rel="icon" href="{{ asset('img/chaussette-bleu.png') }}" type="image/png">

        {# Bloc stylesheets pour le CSS compilé par Webpack Encore #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        
    </head>
    <body>
        {# Corps de la page #}
        {% block body %}{% endblock %}

        {# Bloc javascripts pour les scripts #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            
        {% endblock %}
    </body>
</html>
