{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Créer un article</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        <button class="btn">Créer</button>
    {{ form_end(form) }}


</div>
{% endblock %}
